# Python cache
__pycache__/
*.py[cod]

# Environment folders
venv/
.venv/
env/
.env

# Build artifacts
dist/
build/

# IDE folders
.vscode/
.idea/

# Local project/user files
data/
config.ini
dictionary.pkl
jmdict_enhanced.pkl
